body {
    background-color: rgb(118, 128, 100);
}

.center {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: cursive;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

img {
    border: 2px solid black;
    border-radius: 50%;
}