/* * {
  outline: 2px dotted red;
} */

* {
  margin: 0;
  box-sizing: border-box;
}
/******************* helper classes **************************/
.center {
  text-align: center;
}

.bottom {
  margin-bottom: 1.875rem;
}

.top {
  margin-top: 1.875rem;
}

.font {
  font-style: italic;
  font-size: 1.2rem;
  color: rgb(4, 10, 39);
}
/**************************************************************/

body {
  font-family: "Open Sans", sans-serif;
  color: rgb(4, 17, 29);
  background-color: rgb(236, 191, 191);
}
/* container styling */
.container {
  background-color: rgb(206, 156, 153);
  border-radius: 1.25rem;
  max-width: 64rem;
  margin: 2rem auto;
  padding: 1rem;
}

/* title styling */
#title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  margin-bottom: 0.625rem;
}

/* image styling */
#image {
  max-width: 100%;
  display: block;
  border: 0.125rem solid rgb(0, 0, 0);
  border-radius: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
/* styling for the horizontal line */
hr {
  overflow: visible; /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7rem;
  font-size: 1.5rem;
  padding: 0 0.25rem;
  background: rgb(206, 156, 153);
}

/* external link styling */
#tribute-link {
  color: rgb(255, 255, 255);
}

/* styling for the paragraph */
p {
  font-family: "Lato", sans-serif;
}

.moreInfo {
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
