/* * {
  outline: 2px dotted red;
} */

* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  color: rgb(240, 248, 255);
}

.container {
  background-color: rgb(84, 40, 55);
  max-width: 1024px;
  margin: 0 auto;
  padding: 16px;
}

#title {
  font-family: cursive;
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

#img-caption {
  text-align: center;
}

#tribute-info {
  margin-top: 90px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
